*{
	font-family: arial, san-serif;
}


#resizable { 
	padding: 0.5em; 
	margin-bottom: 1em;
	width: auto;
}

.startdate, .enddate{
	font-size: 0.7em;
	width: 50%;
}

.element{ 
	padding: 0.3em;
	border-radius: .5em;
	position: relative; 
	margin: 10px 10px 0 0;
	top: 0;
	left: 0;
	float: left;
}

.arrow{
	width: 0;
	height: 0;
	border-top: transparent 12px solid;
	border-bottom: transparent 12px solid;
	border-left: rgba(160,160,160,0.5) 10px solid;
	position: relative;
	top: 0;
	right: 0;
	float: right;
}

.element h2{
	font-size: 1em;
}

.startdate{
	float: left;
	text-align: left;
}

.enddate{
	float: right;
	text-align: right;
}

.cat1, .cat2, .cat3{ border: 0; }

.cat1 .element{background-color: #BFF;}
.cat2 .element{background-color: #DFF;}
.cat3 .element{background-color: #AFF;} 

.ui-resizable-s{ border-top: 1px solid #AAA; }

