*{
	font-family: arial, san-serif;
}


#resizable { 
	padding: 0.5em; 
	margin-bottom: 1em;
	width: auto;
}

.date{
	font-size: 0.7em;
	position: absolute;
	background-color: #FFF;
	top: -1.6em;
	display: none;
	z-index: 100;
}

.start.date{
	float: left;
	text-align: left;
}

.end.date{
	right: 0;
	text-align: right;
}


.element{ 
	padding: 0.3em;
	border-radius: .5em;
	position: absolute; 
	margin: 10px 10px 0 0;
	top: 0;
	left: 0;
	box-sizing: border-box;
}

.arrow{
	width: 0;
	height: 0;
	border-top: transparent 12px solid;
	border-bottom: transparent 12px solid;
	border-left: rgba(160,160,160,0.5) 10px solid;
	position: absolute;
	top: 10px;
	right: 10px;
	float: right;
}

.element h3{
	font-size: 12px;
}
.resizable h2{ height: 100%; float: left; position: absolute; left: -1em; }
.resizable .element{background-color: #BFF;}
.cat1, .cat2, .cat3{ border: 0; }

.cat1 .element{background-color: #BFF;}
.cat2 .element{background-color: #DFF;}
.cat3 .element{background-color: #AFF;} 

.ui-resizable-s{ border-top: 1px solid #AAA; }

