*{
	font-family: arial, san-serif;
}

.date{
	font-size: 0.7em;
	position: absolute;
	background-color: #FFF;
	top: 60%;
	display: none;
	z-index: 1001;
}

.start.date{
	float: left;
	text-align: left;
}

.end.date{
	right: 10px;
	text-align: right;
}

.element{ 
	padding: 0.3em;
	border-radius: .5em;
	position: absolute; 
	margin: 10px 0 0 0;
	top: 0;
	left: 0;
	box-sizing: border-box;
}

.arrow{
	width: 0;
	height: 0;
	border-top: transparent 12px solid;
	border-bottom: transparent 12px solid;
	border-left: rgba(160,160,160,0.5) 10px solid;
	position: absolute;
	top: 10px;
	right: 10px;
	float: right;
}

.element h3{
	font-size: 12px;
}
.resizable h2{ 
	font-size: 18px;
	position: absolute;
	float: left; 
	background-color: rgba(255,255,255,0.5);
	padding: .2em;
	margin: 0;
	z-index: 10;
}
.resizable { 
	width: auto;
	overflow: hidden;
	border: 0;
	background: transparent;
}
.resizable .element{background-color: #BFF; }

.ui-resizable-s{ border-top: 1px solid #AAA; }

.newyear{ 
	top: 60px;
	left: 100px;
	position: absolute; 
	border-left: 1px solid #CCC;
	color: #CCC;
	height: 600px;
}