
.header{ 
	width: 100%;
	float: left;
	color: #fff;
	text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
	background: #020031; /* Old browsers */
	background: -moz-linear-gradient(45deg, #1b005f 0%, #005b95 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#1b005f), color-stop(100%,#005b95)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, #1b005f 0%, #005b95 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, #1b005f 0%, #005b95 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, #1b005f 0%, #005b95 100%); /* IE10+ */
	background: linear-gradient(45deg, #1b005f 0%, #005b95 100%); /* W3C */

	-webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2), 0 3px 7px rgba(0,0,0,.3);
	   -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2), 0 3px 7px rgba(0,0,0,.3);
			box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2), 0 3px 7px rgba(0,0,0,.3);
	margin-bottom: 10px;
}


.header a{ color: #FFF;}

.header h1{
	margin: 8px;
	font-size: 2em;
	float: left;
}

.loggedin{
	margin: 8px;
	text-align: right;
}

.date{
	font-size: 0.9em;
	background-color: #FFF;
	background-color: rgba(255,255,255,0.5);
	border-radius: .3em;
	padding: .3em;
	margin-right: 5px;
}

.pageControls{
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

.pageControls .controlWrap{
	float: left;
	margin-right: 1em;
}

.pageControls label{
	margin: 0 1em;
}

.pageControls input[type=number]{
	width: 60px;
}

.window{
	width: 100%;
	overflow: hidden;
}

.lifeBoard{
	position: relative;
	-webkit-transiton: filter .2s;
	transiton: filter .2s;
}

.lifeBoard.blurred{
	-webkit-filter: blur(3px); 
	   -moz-filter: blur(3px); 
		-ms-filter: blur(3px); 
		 -o-filter: blur(3px); 
			filter: blur(3px);
}

.newYear{ 
	position: absolute;
	font-size: 0.9em;
	padding-left: .5em;
	border-left: 1px solid #CCC;
	color: #999;
	height: 600px;
}

.topLifeBoardSpacer{
	width: auto;
	height: 20px;
}

.categoryRow{ 
	width: auto;
	border: 0;
	height: 60px;
	position: relative;
	border-top: 1px solid #DDD;
}

.categoryRow h2{ 
	color: #DDD;
	position: absolute;
	background-color: rgba(0,0,0,0.8);
	border-top: 0;
	border-left: 0;
	padding: 0 .5em .1em .5em;
	font-size: 1.2em;
	font-weight: normal;
	margin: 0;
	z-index: 10;
}

.categoryRow .element{
	background-color: #BFF; 
	height: 45px;
}

.categoryRow .element{ 
	padding: 0.3em;
	position: absolute; 
	margin-top: 8px;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	overflow: hidden;
}

.categoryRow .element h3{
	margin: 0 5px 5px 0;
	font-size: 1.1em;
	text-shadow: 0 -1px 0 rgba(255,255,255,0.2);
}




/* ----------------------------- EVENT INPUT ------------------------------ */
/* ------------------------------------------------------------------------ */

/* Add event Button */

.btnAddEvent{
	z-index: 1050;
}

.btnAddEvent i{
	display: inline-block;
	margin: 0 8px 0 0;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.4), inset 0 -1px 2px rgba(255,255,255,.8);
	border-radius: 50%;
	width: 18px;
	height: 18px;
	line-height: 20px;
	color: #CCC;
}

.btnAddEvent:hover{
	background: #095e9b;
	color: #FFF;
}




.eventInput i{
	display: block;
	-webkit-transition: color .5s, border-color .5s;
	   -moz-transition: color .5s, border-color .5s;
			transition: color .5s, border-color .5s;
	font-weight: bold;
	line-height: 28px;
	font-style: normal;
	height: 26px;
	width: 26px;
	cursor: pointer;
	text-align: center;
	color: #FFF;
	background-color: rgba(0,0,0,0.9);
	font-size: 16px;
	border-radius: 13px;
	border: 1px solid rgba(0,0,0,0.9);
}

.eventInputwrap{
	width: 0px;
	height: 100%;
	position: absolute;
	padding: 0 50%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	z-index: 1050;
	-webkit-transition: height .3s;
	   -moz-transition: height .3s;
			transition: height .3s;
}

.EIWcollapsed{
	height: 0%;
}

.eventInput{
	float: left;
	margin-top: 170px;
	margin-left: -215px;
	background-color: #FFF;
	padding: 15px 15px 5px 15px;
	width: 400px;
	z-index: 1100;
	border-radius: 6px;
	box-shadow: 0 12px 34px -10px rgba(0,0,0,0.8);
	-webkit-transition: margin-top .3s;
	   -moz-transition: margin-top .3s;
			transition: margin-top .3s;
}

.EIWcollapsed .eventInput{
	margin-top: -350px;
}

.eventInput i{
	position: absolute;
	margin-left: 400px;
	margin-top: -26px;
	border-color: rgba(255,255,255,0.7);
}

.eventInput i:hover{
	color: #D11;
	border-color: rgba(255,0,0,0.7);
}

.eventInput h2{
	text-align: center;
	width: 100%;
	font-weight: normal;
}

.eventInput .formRow{
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

.eventInput .formRow.hidden{
	display: none;
}

.eventInput .formRow label{
	width: 120px;
	text-align: right;
	padding-right: 10px;
	line-height: 32px;
	float: left;
}

.eventInput .formRow input{
	float: left;
	margin-right: 10px;
}

.eventInput .formRow label[for=noEnd]{
	text-align: left;
}

